@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as mixins;

.mainWrapper {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: fit-content;
  margin-bottom: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  & > div:first-of-type {
    border-radius: 0 0 10px 10px;
  }
}

.mainWrapper {
  width: 100%;
  overflow-x: auto;
}

.tableHeader {
  display: flex;
  gap: 15px;
  padding: 10px 20px;
  background: #1e1e1e;
  border-radius: 10px 10px 0 0;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.headerGroup {
  display: flex;
  flex: 5;
  gap: 15px;
}

.headerCell {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardName {
  text-align: left;
  min-width: 300px;
  max-width: 300px;
  flex: 1.5;
}

.cardNick {
  text-align: left;

  flex: 1.5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #353534;
}

.title {
  margin: 0;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.innerWrapper {
  overflow-x: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
