.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: $color-light-gray;
  border: 1px solid #353534bf;
  width: 100%;

  flex-direction: column;

  @include mixins.viewport--lg {
    flex-direction: row;
  }
}

.imageWrapper {
  position: relative;
  width: 276px;
  height: 173px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;

  .nameCard {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    color: white;
    font-weight: 600;
  }
}

.tableContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.flex {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  @include mixins.viewport--lg {
    flex-direction: row;
  }
}

.tableRow {
  display: flex;
  flex: 1;
  min-height: 40px;
  gap: 10px;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.statsBlock {
  display: flex;
  flex: 5;
  gap: 10px;
  border-radius: 6px;
  padding: 8px 10px;
  align-items: center;
}

.statsCell {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  text-align: center;

  &:first-child {
    text-align: left;
    flex: 1.5;
  }
}

.avgCell {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a2a2a;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
}

.headerGroup {
  display: flex;
  gap: 10px;
  padding: 4px;
  background: #1e1e1e;
  border-radius: 6px;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 19.2px;
  flex: 5;

  @include mixins.viewport--lg {
    display: none;
  }
}

.headerCell {
  flex: 1;
  text-align: center;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  @include mixins.viewport--lg {
    max-width: 250px;
  }

  @include mixins.viewport--xl {
    max-width: 300px;
  }
}

.cardNick {
  text-align: left;
  flex: 1.5;
}
