.pageContainer {
  padding: 20px;

  background: #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1440px;
}

.pageTitle {
  font-size: 16px;
  color: $color-white;
  font-weight: 700;
  display: flex;
  column-gap: 8px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;

  @include mixins.viewport--md {
    font-size: 24px;
  }
}

.statsContainer {
  margin-top: 40px;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.playerCard {
  background: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.playerTitle {
  font-size: 18px;
  color: $color-white;
  font-weight: 700;
}

.titleWrapper {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #353534;
  margin-bottom: 30px;
  padding-bottom: 15px;
  gap: 20px;
  flex-wrap: wrap;
}

.statsPlaceholder {
  color: #aaa;
  font-style: italic;
}

.btnWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.teamName {
  position: relative;
  color: $cs-orange;
  font-family: $font-main;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: block;
  margin-bottom: -3px;

  @include mixins.viewport--md {
    font-size: 30px;
  }
}
