.body {
  font-family: $font-main;
  color: $color-white;
  background-color: $color-black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}

.main {
  padding-top: 32px;
  padding: 15px;

  @include mixins.viewport--lg {
    margin-left: 300px;
    flex-grow: 1;
    padding: 30px;
  }

  @include mixins.viewport--xl {
    margin-left: 350px;
  }
}
