@use '../styles/variables.scss' as *;
@use '../styles/mixins.scss' as mixins;

.body {
  font-family: $font-main;
  color: $color-white;
  background-color: $color-black;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}

.main {
  flex-grow: 1;
  padding: 30px;
  margin-left: 350px;
  padding-top: 32px;
}
