.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;

  @include mixins.viewport--md {
    padding: 15px;
    background-color: rgba(53, 53, 52, 0.5019607843);
    border: 1px solid rgba(53, 53, 52, 0.7490196078);
  }
}
