@use "variables" as *;

@mixin viewport--md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin viewport--lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin viewport--xl {
  @media (min-width: $xl) {
    @content;
  }
}
