$font-main: 'Play', 'Arial', sans-serif;

$color-white: rgb(241, 241, 241);
$color-gray: rgba(59, 66, 85, 0.8);
$color-light-gray: #35353480;
$color-dark-gray: rgba(25, 25, 35, 0.5);
$color-black: #151514;
$color-dark-blue: #3b4255;
$color-orange: #f15a22;
$color-blue: rgba(0, 102, 182, 1);
$color-hover: #f15a22;
$color-primary: #527bfb;
$cs-orange: #f7931a;

$anim: all 0.5s ease;

$md: 768px;
$lg: 1024px;
$xl: 1920px;
$sm-max: 767px;
$md-max: 1024px;
$lg-max: 1340px;
$xl-max: 1300px;
$padding--sm: 20px;
$padding--md: 26px;
$padding--lg: 20px;
$padding--xl: 0px;
